*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #a89a9a;
}

.contenu{
    margin: auto;
    width: 630px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.case{
    background-color: rgb(199, 228, 199);
    color: rgb(255, 255, 255);
    margin: 2.5px;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.croix{
    color: red;
    font-size: 100px;
}

.rond{
    color: green;
    font-size: 80px;
}

.tour{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}